VBox {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

Label {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
    -fx-font-family: "Segoe UI", sans-serif;
}

TableView {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-table-cell-border-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

TableColumn {
    -fx-background-color: #f5f5f5;
    -fx-font-size: 14px;
    -fx-text-fill: #00008b;
    -fx-font-family: "Segoe UI", sans-serif;
}

.table-cell {
    -fx-font-size: 12px;
    -fx-text-fill: #666666;
    -fx-alignment: CENTER;
    -fx-font-family: "Segoe UI", sans-serif;
}

.page-title {
    -fx-font-size: 24px;
    -fx-text-fill: #00008b;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: #1196f8;
}